:root {
  --primary: #1971c2;
  --hover: #228be6;
  --btn-remove: #ef4d6c;
  --bg-body: #fff;
  --bg-card: #f5f5f5;
  --title: #292929;
  --text: #3a3a3a;
  --shadow: rgba(0, 0, 0, 0.25);
}

.dark-mode:root {
  --bg-body: #222;
  --bg-card: #2c2c2c;
  --title: #fff;
  --text: #e8e8e8;
  --shadow: rgba(77, 77, 77, 0.25);
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-body);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex: 1 0 auto;
  padding: 60px 0;
  gap: 60px;
}

.not-found.desativo {
  display: none;
}

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.not-found img {
  width: 300px;
}

.not-found p {
  font: 700 1.5rem "Inter", sans-serif;
  text-align: center;
}

.footer {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  background: var(--primary);
  font: 400 1rem "Inter", sans-serif;
  color: #fff;
  padding: 20px 0;
}
